@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("ShowItems", "Library", FormMethod.Get))
{
    <input type="submit" value="Library" />
}

@using (Html.BeginForm("CheckedOut", "Library", FormMethod.Get))
{
    <input type="submit" value="Your Items" />
}

<br /> <br /> <br /> <br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="button-container mt-4">
        <!-- Button to FAQ Page -->
        <a href="@Url.Action("FAQ", "Home")" class="btn-page">Visit FAQ</a>
        
        <!-- Button to Events Page -->
        <a href="@Url.Action("Events", "Home")" class="btn-page">Explore Events</a>
    </div>