@{
    ViewData["Title"] = "Home Page";
}
<div class="grid-item align-content-sm-start" style="padding-bottom: 10px;">
    <br>
    <div class="jumbotron text-center container-fluid text-center bg-opacity-10 bg-dark align-self-xl-stretch" style="background-size: auto; padding-bottom: 30px;padding-top:10px;">
        <div class="jumbotron text-center container-fluid" style="margin-bottom: 45px;">
            <h1 class="bg-opacity-10 bg-dark" style="margin:3px; padding:3px;">Library Enterprise Software System</h1>
            <hr>
            <p> By Ian, Ryan and Noah<br />
                Sheridan College<br />
                Assignment: Final Project <br />
                CourseNo = PROG30000: Enterprise Software Systems<br />
                InstructorName = Syed Tanbeer
                <br /><hr />
                <br /> 
                Welcome to our library! We have a strong selection of the finest books, movies, games, and even some magazines, newspapers, software and more! <br />
                Sign up with a free account to gain access to the library!

            </p>
        </div>

        
    </div>
</div>
<div class="grid-item align-content-sm-start bg-info bg-opacity-10 align-self-xl-stretch flex-lg-wrap" style="padding-bottom: 10px;">
    <div class="jumbotron text-center container-fluid text-center bg-opacity-10 bg-dark align-self-xl-stretch" style="background-size: auto; padding-bottom: 30px;padding-top:10px;">
        <h1>Important Links: </h1>
        <div class="button-container mt-4">
            <a class="btn-page link-dark align-content-center" asp-controller="Library" asp-action="ShowItems">Go to Items List</a>
            <a class="btn-page link-dark align-content-center" asp-controller="Library" asp-action="CheckedOut">Go to Checked Out Items List</a>
            <!-- Button to FAQ Page -->
            <a href="@Url.Action("FAQ", "Home")" class="btn-page align-content-center">Visit FAQ</a>

            <!-- Button to Events Page -->
            <a href="@Url.Action("Events", "Home")" class="btn-page align-content-center">Explore Events</a>
        <br />
            
        
        


    </div>
</div>
<div class="grid-item align-content-sm-start bg-primary bg-opacity-10 align-self-xl-stretch" style="padding-bottom: 10px; ">
    <div class="jumbotron text-center container-fluid text-center bg-opacity-10 bg-dark align-self-xl-stretch" style="background-size: auto; padding-bottom: 30px;padding-top:10px;">
        <h1>Misc Information: </h1>
        <h4>
                <br />
                <button class="btn dropdown-toggle btn-info btn-outline-secondary" type="button" id="adminDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b class="fa-solid fa-user text-white fs-5 ">Admin Controls</b>
                </button>

                <div class="dropdown-menu dropdown-menu-right bg-secondary btn-outline-info border-bottom" aria-labelledby="adminDropdown">
                    <a class="dropdown-item text-info link-dark bg-opacity-10" asp-controller="Admin" asp-action="AddUserToRole">Admin - Add User To Role</a>
                    <a class="dropdown-item text-info link-dark bg-opacity-25" asp-controller="Admin" asp-action="CreateRole">Admin -  Create Role</a>
                    <a class="dropdown-item text-info link-dark bg-opacity-50" asp-controller="Admin" asp-action="ListRoles">Admin -  List Roles</a>
                    <a class="dropdown-item text-info link-dark bg-opacity-75" asp-controller="User" asp-action="ShowUsers">List of Users</a>

                </div>

                <br />

        </h4>
        <br />
    </div>
</div>