@{
    ViewData["Title"] = "Registration Confirmation";
}
@*
    This page confirms that the user has been registered to the event. By Noah
*@
<div class="container">
    <h1>Thank You!</h1>
    <p>@ViewData["Message"]</p>
    <a href="@Url.Action("Events", "Home")" class="btn btn-primary">Back to Events</a>
</div>
