@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@*
    This page shows a list of all the roles, displaying their id and name. By Ian
*@
@{
    ViewBag.Title = "All Roles";
}
<h2>Show All Roles</h2>

@if (Model.Any())
{
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
            </tr>
        }
    </table>

}
else
{
    <h1>No Role Fetched</h1>
}